export(bootstrap_implementation)
export(bootstrap_mfpca)
export(clustering_and_outlier_recognition)
export(directional_outlying)
export(elastic_time_distance)
export(faccal_asy)
export(faccal_num)
export(findneighbours)
export(intensity_sparse_fbplot)
export(msplot_modified)
export(outlier_dirout)
export(outlying_depth)
export(sparse_fbplot)
export(subsetlist)
export(two_layer_partition_clustering)
